<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.wordmemorize.www.VO.Member" alias="member" />
		<typeAlias type="com.wordmemorize.www.VO.Word" alias="word" />
		<typeAlias type="com.wordmemorize.www.VO.CustomWord" alias="customWord"/>
		<typeAlias type="com.wordmemorize.www.VO.BlinkGame" alias="blinkGame" />
		<typeAlias type="com.wordmemorize.www.VO.BlinkGameInfo" alias="blinkGameInfo"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/wordMapper.xml" />
		<mapper resource="mapper/blinkGameMapper.xml" />
	</mappers>
</configuration>